AWS_REGION=eu-south-1
SQS_QUEUE_URL=http://localhost:4566/000000000000/fantacloud-messages
SQS_MATCHDAY_QUEUE_URL=http://localhost:4566/000000000000/fantacloud-matchday-calculated
SNS_TOPIC_ARN=arn:aws:sns:eu-south-1:000000000000:fantacloud-match-notifications
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DB_USER=postgres
DB_PASSWORD=mypassword
DB_HOST=localhost
DB_NAME=projectdb
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
FRONTEND_URL=http://localhost:5173
